.main {
  animation-duration: 4s;
  animation-name: fadeIn;
}

.navbar a:hover {
  animation-duration: 1s;
  animation-name: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  to {
    opacity: inherit;
  }
}
@keyframes underline {
  from {
    border-bottom-color: #3C2E3D;
  }
  to {
    border-bottom-color: #ECC7C0;
  }
}
:root {
  --primary-color: #28383e;
  --secondary-color: #fffaf6;
  --tertiary-color: #de6247;
  --dark-grey: #4a4a4a;
  --white: #fff;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.2;
  color: var(--primary-color);
}

body {
  margin: 0;
  border: 10px solid var(--primary-color);
}

section {
  padding: 50px 10%;
}
section:nth-child(odd) {
  background-color: var(--secondary-color);
}
section:nth-child(even) {
  background-color: var(--primary-color);
}
@media only screen and (max-width: 750px) {
  section {
    padding: 10px 10%;
  }
}

.title {
  font-family: "El Messiri", sans-serif;
}

.light {
  color: var(--secondary-color);
}

.centered {
  display: block;
  text-align: center;
}

.wrap {
  display: flex;
}
@media only screen and (max-width: 750px) {
  .wrap {
    flex-wrap: wrap;
  }
  .wrap > * {
    width: 100% !important;
  }
  .wrap.reverse {
    flex-direction: column-reverse;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: var(--secondary-color);
  padding: 0 30px;
}
.nav .nav-title {
  align-self: flex-start;
}
.nav .nav-items {
  display: flex;
}
.nav a {
  font-size: 32px;
  height: 100%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 30px;
}
.nav a:hover {
  color: var(--tertiary-color);
}
@media only screen and (max-width: 750px) {
  .nav {
    height: 80px;
    padding: 0 15px;
  }
  .nav a {
    font-size: 15px;
    margin: 0 10px;
  }
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  color: var(--primary-color);
  border-bottom: 10px var(--primary-color) solid;
}
.home-section .main .title {
  margin: 0;
  font-size: 7vw;
}
@media only screen and (max-width: 750px) {
  .home-section {
    height: calc(100vh - 90px);
  }
}

.about-section .bio {
  margin: 40px 0 50px;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 4vw;
}

.picture-section .pin {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 4px solid var(--dark-grey);
  margin: auto;
}
.picture-section .profile-image {
  position: relative;
  display: flex;
  height: 300px;
  width: fit-content;
  margin: auto;
}
.picture-section .profile-image img {
  align-self: flex-end;
  border-radius: 100%;
  border: 4px solid var(--dark-grey);
}
.picture-section .profile-image::before {
  content: "";
  display: block;
  height: 160px;
  width: 4px;
  background: var(--dark-grey);
  position: absolute;
  transform: rotate(37deg);
  left: 65px;
  top: -32px;
}
.picture-section .profile-image::after {
  content: "";
  display: block;
  height: 160px;
  width: 4px;
  background: var(--dark-grey);
  position: absolute;
  transform: rotate(-37deg);
  right: 65px;
  top: -32px;
}

.book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: 4px solid var(--dark-grey);
  background: var(--secondary-color);
  min-width: 40px;
}
.book .category {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}
.book.xl {
  width: 7vw;
}
.book.l {
  width: 6vw;
}
.book.m {
  width: 5vw;
}
.book.s {
  width: 4vw;
}
.book.xs {
  width: 3vw;
}

.books-section {
  padding: 10px 0 0;
}
.books-section > .title {
  font-size: 50px;
}
.books-section .shelves {
  display: flex;
  flex-wrap: wrap;
  min-height: 625px;
  overflow: hidden;
}
.books-section .shelf {
  display: flex;
}
.books-section .book .title {
  transform: rotate(90deg);
  width: max-content;
}
.books-section .shelf:first-child .book:nth-child(2) {
  transform: rotate(-3deg);
  margin: 0 14px;
}
.books-section .shelf:first-child .book:nth-child(3) {
  transform: rotate(-8deg);
  margin: 0 8px;
}
.books-section .shelf:first-child .book:nth-child(4) {
  transform: rotate(-12deg);
  margin: 0 8px;
}
.books-section .shelf:first-child .book:nth-child(5) {
  transform: rotate(-16deg);
  margin: 0 10px;
}
.books-section .shelf:first-child .book:nth-child(6) {
  transform: rotate(-18deg);
  margin: 0 3px;
}
.books-section .shelf:nth-child(2) .book:nth-child(1) {
  transform: rotate(-20deg);
  margin: 0 8px;
}
.books-section .shelf:nth-child(2) .book:nth-child(2) {
  transform: rotate(-26deg);
  margin: 0 26px;
}
.books-section .shelf:nth-child(2) .book:nth-child(3) {
  transform: rotate(-33deg);
  margin: 0 18px;
}
.books-section .shelf:nth-child(2) .book:nth-child(4) {
  transform: rotate(-35deg);
  margin: 0 6px;
}
.books-section .shelf:nth-child(2) .book:nth-child(5) {
  transform: rotate(-36deg);
  margin: 0 -24px 103px;
}
.books-section .shelf:nth-child(2) .book:nth-child(6) {
  transform: rotate(3deg);
  margin-left: 182px;
}
.books-section .shelf:nth-child(2) .book:nth-child(7) {
  margin-left: 16px;
}
@media only screen and (max-width: 1242px) {
  .books-section .shelf {
    height: 400px;
  }
  .books-section .shelf:first-child {
    border-bottom: 4px var(--secondary-color) solid;
    width: 100%;
  }
  .books-section .shelf:nth-child(2) {
    margin-left: auto;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(1) {
    transform: rotate(27deg);
    margin: 0 8px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(2) {
    transform: rotate(24deg);
    margin: 0 8px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(3) {
    transform: rotate(20deg);
    margin: 0 10px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(4) {
    transform: rotate(17deg);
    margin: 0;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(5) {
    transform: rotate(20deg);
    margin: 0 45px 0 10px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(6) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 750px) {
  .books-section .shelves {
    min-height: 400px;
  }
  .books-section .shelves .shelf {
    height: 200px;
  }
  .books-section .shelves .shelf .book {
    min-width: 23px;
    border-width: 2px;
  }
  .books-section .shelves .shelf .book .title {
    font-size: 3vw;
  }
  .books-section .shelves .shelf .book .category {
    display: none;
  }
  .books-section .shelves .shelf:nth-child(2) .book:nth-child(1) {
    transform: rotate(10deg);
    margin: 0 8px;
  }
  .books-section .shelves .shelf:nth-child(2) .book:nth-child(2) {
    transform: rotate(17deg);
    margin: 0 8px;
  }
}

.cooker-section {
  display: flex;
}
.cooker-section .cooker-container {
  width: 50%;
  padding: 0 20px;
}
.cooker-section .cooker-container .cooker {
  display: flex;
  flex-wrap: wrap;
  background: var(--primary-color);
  border: 4px solid var(--dark-grey);
}
@media only screen and (max-width: 750px) {
  .cooker-section .cooker-container .cooker {
    border-width: 2px;
  }
}
.cooker-section .cooker-container .stove-container {
  width: 50%;
  padding: 20px;
}
.cooker-section .cooker-container .stove-container .stove {
  position: relative;
  height: 0;
  padding-top: 100%;
  border-radius: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 4px solid var(--dark-grey);
}
.cooker-section .cooker-container .stove-container .stove .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 2vw;
}
@media only screen and (max-width: 750px) {
  .cooker-section .cooker-container .stove-container .stove {
    border-width: 2px;
  }
  .cooker-section .cooker-container .stove-container .stove .title {
    font-size: 4vw;
  }
}
.cooker-section .cooker-container .cooker-dials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 60px;
  height: 30px;
  width: 80%;
  background: var(--primary-color);
  border-radius: 5px;
  margin: 15px auto 0;
}
.cooker-section .cooker-container .cooker-dials .dial {
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: var(--secondary-color);
}
.cooker-section .cooker-container .cooker-dials .dial::before {
  content: "";
  display: block;
  height: 10px;
  width: 4px;
  background: var(--dark-grey);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.cooker-section .pans {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 68px;
}
@media only screen and (max-width: 750px) {
  .cooker-section .pans {
    margin: 0 0 100px;
  }
}
.cooker-section .pans::before {
  content: "";
  display: block;
  width: 80%;
  height: 20px;
  background: var(--tertiary-color);
  position: absolute;
  top: -4px;
  border-radius: 5px;
}
.cooker-section .pans .handle {
  position: relative;
  height: 100px;
  width: 20px;
  background: var(--primary-color);
  border-radius: 5px;
}
.cooker-section .pans .handle::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: var(--secondary-color);
  position: absolute;
  top: 5px;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
}
.cooker-section .pans .handle .pan {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: var(--primary-color);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.cooker-section .pans .handle:nth-child(2) {
  height: 150px;
}
.cooker-section .pans .handle:nth-child(2) .pan {
  width: 120px;
  height: 120px;
}
.cooker-section .pans .handle:nth-child(3) {
  height: 150px;
  width: 15px;
}
.cooker-section .pans .handle:nth-child(3) .pan {
  height: 90px;
  width: 90px;
}

.work-title .title {
  font-size: 50px;
}

.work-section {
  overflow: hidden;
}
.work-section .project:not(:first-child) {
  margin: 100px 0;
}
.work-section .project .title {
  font-size: 30px;
}
@media only screen and (min-width: 751px) {
  .work-section .project:nth-child(even) .work-description {
    padding-left: 30px;
  }
  .work-section .project:nth-child(odd) .content {
    flex-direction: row-reverse;
  }
  .work-section .project:nth-child(odd) .content .work-description {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 750px) {
  .work-section .project .work-description {
    padding-top: 20px;
  }
}
.work-section .content {
  display: flex;
}
.work-section .carousel-container,
.work-section .work-description {
  width: 50vw;
  overflow: hidden;
}
.work-section .work-description p {
  line-height: 1.5;
}
.work-section .work-description a {
  color: var(--tertiary-color);
}
.work-section .carousel-container {
  background: var(--white);
  border: 4px solid var(--dark-grey);
  height: 25vw;
}
@media only screen and (max-width: 750px) {
  .work-section .carousel-container {
    height: 50vw;
  }
}
.work-section .carousel {
  display: flex;
  align-items: center;
  width: max-content;
  overflow: hidden;
  transition: transform ease 1s;
  cursor: pointer;
  height: 90%;
}
.work-section .carousel .slide {
  display: flex;
  justify-content: space-evenly;
  width: 38.5vw;
  height: 100%;
  padding: 15px;
}
.work-section .carousel .slide img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 750px) {
  .work-section .carousel {
    height: 85%;
  }
  .work-section .carousel .slide {
    width: 74vw;
  }
}
.work-section .slide-selectors {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 40%;
}
.work-section .slide-selectors .slide-selector {
  width: 8px;
  height: 8px;
  background: var(--dark-grey);
  border-radius: 100%;
  opacity: 0.5;
  cursor: pointer;
}
.work-section .slide-selectors .slide-selector.active {
  opacity: 1;
}
@media only screen and (max-width: 750px) {
  .work-section .slide-selectors {
    padding: 10px 30%;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.contact-section .title {
  margin: 0 0 20px 0;
  font-size: 50px;
}
.contact-section .contact-links {
  width: 100%;
}
.contact-section .contact-links .link {
  margin: 10px 0;
  color: var(--tertiary-color);
}
.contact-section .contact-links .link a {
  font-size: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 750px) {
  .contact-section .contact-links .link a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
