.main {
  animation-duration: 4s;
  animation-name: fadeIn;
}

.navbar a:hover {
  animation-duration: 1s;
  animation-name: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  to {
    opacity: inherit;
  }
}
@keyframes underline {
  from {
    border-bottom-color: #3C2E3D;
  }
  to {
    border-bottom-color: #ECC7C0;
  }
}
:root {
  --primary-color: #28383e;
  --secondary-color: #fffaf6;
  --tertiary-color: #de6247;
  --dark-grey: #4a4a4a;
  --white: #fff;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.2;
  color: var(--primary-color);
}

body {
  margin: 0;
  border: 10px solid var(--primary-color);
}

section {
  padding: 30px 10%;
}
section:nth-child(odd) {
  background-color: var(--secondary-color);
}
section:nth-child(even) {
  background-color: var(--primary-color);
}

.title {
  font-family: "El Messiri", sans-serif;
}

.centered {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: var(--secondary-color);
}
.nav .nav-title {
  align-self: flex-start;
}
.nav .nav-items {
  display: flex;
}
.nav a {
  font-size: 25px;
  height: 100%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 30px;
}
.nav a:hover {
  color: var(--tertiary-color);
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  color: var(--primary-color);
  border-bottom: 10px var(--primary-color) solid;
}
.home-section .main .title {
  margin: 0;
  font-size: 7vw;
}

.picture-section .pin {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 4px solid var(--dark-grey);
  margin-left: 113px;
}
.picture-section .profile-image {
  position: relative;
  display: flex;
  height: 300px;
  width: fit-content;
}
.picture-section .profile-image img {
  align-self: flex-end;
  border-radius: 100%;
  border: 4px solid var(--dark-grey);
}
.picture-section .profile-image::before {
  content: "";
  display: block;
  height: 160px;
  width: 4px;
  background: var(--dark-grey);
  position: absolute;
  transform: rotate(37deg);
  left: 65px;
  top: -32px;
}
.picture-section .profile-image::after {
  content: "";
  display: block;
  height: 160px;
  width: 4px;
  background: var(--dark-grey);
  position: absolute;
  transform: rotate(-37deg);
  right: 65px;
  top: -32px;
}

.about-section .bio {
  color: var(--secondary-color);
  margin: 0;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 4vw;
}

.book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: 4px solid var(--dark-grey);
  background: var(--secondary-color);
  min-width: 40px;
}
.book .category {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}
.book.xl {
  width: 7vw;
}
.book.l {
  width: 6vw;
}
.book.m {
  width: 5vw;
}
.book.s {
  width: 4vw;
}
.book.xs {
  width: 3vw;
}

.books-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 645px;
  padding: 100px 0 0;
}
.books-section .shelf {
  display: flex;
}
.books-section .title {
  transform: rotate(90deg);
  width: max-content;
}
.books-section .shelf:first-child .book:nth-child(2) {
  transform: rotate(-3deg);
  margin: 0 14px;
}
.books-section .shelf:first-child .book:nth-child(3) {
  transform: rotate(-8deg);
  margin: 0 8px;
}
.books-section .shelf:first-child .book:nth-child(4) {
  transform: rotate(-12deg);
  margin: 0 8px;
}
.books-section .shelf:first-child .book:nth-child(5) {
  transform: rotate(-16deg);
  margin: 0 10px;
}
.books-section .shelf:first-child .book:nth-child(6) {
  transform: rotate(-18deg);
  margin: 0 3px;
}
.books-section .shelf:nth-child(2) .book:nth-child(1) {
  transform: rotate(-20deg);
  margin: 0 8px;
}
.books-section .shelf:nth-child(2) .book:nth-child(2) {
  transform: rotate(-26deg);
  margin: 0 26px;
}
.books-section .shelf:nth-child(2) .book:nth-child(3) {
  transform: rotate(-33deg);
  margin: 0 18px;
}
.books-section .shelf:nth-child(2) .book:nth-child(4) {
  transform: rotate(-35deg);
  margin: 0 6px;
}
.books-section .shelf:nth-child(2) .book:nth-child(5) {
  transform: rotate(-36deg);
  margin: 0 -24px 103px;
}
.books-section .shelf:nth-child(2) .book:nth-child(6) {
  transform: rotate(3deg);
  margin-left: 155px;
}
@media only screen and (max-width: 1242px) {
  .books-section .shelf {
    height: 400px;
  }
  .books-section .shelf:first-child {
    border-bottom: 4px var(--secondary-color) solid;
    width: 100%;
  }
  .books-section .shelf:nth-child(2) {
    margin-left: auto;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(1) {
    transform: rotate(27deg);
    margin: 0 8px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(2) {
    transform: rotate(24deg);
    margin: 0 8px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(3) {
    transform: rotate(20deg);
    margin: 0 10px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(4) {
    transform: rotate(17deg);
    margin: 0;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(5) {
    transform: rotate(20deg);
    margin: 0 60px 0 10px;
  }
  .books-section .shelf:nth-child(2) .book:nth-child(6) {
    margin-left: 0;
  }
}

.cooker-section {
  display: flex;
}
.cooker-section .cooker-container {
  width: 50%;
}
.cooker-section .cooker-container .cooker-title {
  text-align: center;
}
.cooker-section .cooker-container .cooker {
  display: flex;
  flex-wrap: wrap;
  background: var(--primary-color);
  border: 4px solid var(--dark-grey);
}
.cooker-section .cooker-container .stove-container {
  width: 50%;
  padding: 20px;
}
.cooker-section .cooker-container .stove-container .stove {
  position: relative;
  height: 0;
  padding-top: 100%;
  border-radius: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 4px solid var(--dark-grey);
}
.cooker-section .cooker-container .stove-container .stove .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.cooker-section .cooker-container .cooker-dials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 60px;
  height: 30px;
  width: 80%;
  background: var(--primary-color);
  border-radius: 5px;
  margin: 15px auto 0;
}
.cooker-section .cooker-container .cooker-dials .dial {
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: var(--secondary-color);
}
.cooker-section .cooker-container .cooker-dials .dial::before {
  content: "";
  display: block;
  height: 10px;
  width: 4px;
  background: var(--dark-grey);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.cooker-section .pans {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cooker-section .pans .pan {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: var(--primary-color);
}
.cooker-section .pans .pan::before {
  content: "";
  display: block;
  height: 100px;
  width: 20px;
  background: var(--primary-color);
  position: absolute;
  top: -90%;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.cooker-section .pans .pan:nth-child(2) {
  width: 150px;
  height: 150px;
}
.cooker-section .pans .pan:nth-child(2)::before {
  height: 150px;
  width: 30px;
}
.cooker-section .pans .pan:nth-child(3) {
  height: 90px;
  width: 90px;
}
.cooker-section .pans .pan:nth-child(3)::before {
  top: -100%;
  height: 150px;
  width: 10px;
}

.work-section {
  overflow: hidden;
}
.work-section .work-title .title {
  color: var(--secondary-color);
}
.work-section .content {
  display: flex;
}
.work-section .carousel-container,
.work-section .work-description {
  width: 50vw;
  overflow: hidden;
}
.work-section .work-description {
  padding: 0 15px;
}
.work-section .carousel-container {
  background: var(--white);
  border: 4px solid var(--dark-grey);
}
.work-section .carousel {
  display: flex;
  align-items: center;
  width: max-content;
  overflow: hidden;
  transition: transform ease 1s;
  cursor: pointer;
  height: 90%;
}
.work-section .carousel .slide {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  padding: 0 15px;
}
.work-section .carousel .slide img {
  height: 200px;
}
.work-section .slide-selectors {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 40%;
}
.work-section .slide-selectors .slide-selector {
  width: 10px;
  height: 10px;
  background: var(--dark-grey);
  border-radius: 100%;
  opacity: 0.5;
  cursor: pointer;
}
.work-section .slide-selectors .slide-selector.active {
  opacity: 1;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.contact-section .contact-title {
  margin: 0 0 20px 0;
  color: var(--secondary-color);
}
.contact-section .contact-links {
  display: flex;
}
.contact-section .contact-links .button {
  display: block;
  margin: 0 10px;
  padding: 10px 30px;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 20px;
  transition: 0.3s ease;
  color: var(--tertiary-color);
  text-decoration: none;
}
.contact-section .contact-links .button:hover {
  transform: scale(1.03);
}

/*# sourceMappingURL=style.css.map */
