.main {
  animation-duration: 2s;
  animation-name: adjustHeight;
}

.inner {
  animation-duration: 4s;
  animation-name: fadeIn;
}

.navbar a:hover {
  animation-duration: 1s;
  animation-name: underline;
}

@keyframes adjustHeight {
  from { height: 0; }
  to { height: 200px; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  10% { opacity: 0 }
  to { opacity: inherit; }
}

@keyframes underline {
  from { border-bottom-color: #3C2E3D}
  to { border-bottom-color: #ECC7C0 }
}
