@import "./animations";

:root {
  --primary-color: #28383e;
  --secondary-color: #fffaf6;
  --tertiary-color: #de6247;
  --dark-grey: #4a4a4a;
  --white: #fff;
}

// GLOBAL
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.2;
  color: var(--primary-color);
}

body {
  margin: 0;
  border: 10px solid var(--primary-color);
}

section {
  padding: 30px 10%;

  &:nth-child(odd) {
    background-color: var(--secondary-color);
  }

  &:nth-child(even) {
    background-color: var(--primary-color);
  }
}

.title {
  font-family: "El Messiri", sans-serif;
}

.centered {
  text-align: center;
}

// NAVBAR
.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: var(--secondary-color);

  .nav-title {
    align-self: flex-start;
  }

  .nav-items {
    display: flex;
  }

  a {
    font-size: 25px;
    height: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 30px;

    &:hover {
      color: var(--tertiary-color);
    }
  }
}

// HOME
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  color: var(--primary-color);
  border-bottom: 10px var(--primary-color) solid;

  .main .title {
    margin: 0;
    font-size: 7vw;
  }
}

//PICTURE
.picture-section {
  .pin {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 4px solid var(--dark-grey);
    margin-left: 113px;
  }

  .profile-image {
    position: relative;
    display: flex;
    height: 300px;
    width: fit-content;

    img {
      align-self: flex-end;
      border-radius: 100%;
      border: 4px solid var(--dark-grey);
    }

    &::before {
      content: "";
      display: block;
      height: 160px;
      width: 4px;
      background: var(--dark-grey);
      position: absolute;
      transform: rotate(37deg);
      left: 65px;
      top: -32px;
    }

    &::after {
      content: "";
      display: block;
      height: 160px;
      width: 4px;
      background: var(--dark-grey);
      position: absolute;
      transform: rotate(-37deg);
      right: 65px;
      top: -32px;
    }
  }
}

// ABOUT
.about-section {
  .bio {
    color: var(--secondary-color);
    margin: 0;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 4vw;
  }
}

//BOOK SECTION
.book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: 4px solid var(--dark-grey);
  background: var(--secondary-color);
  min-width: 40px;

  .category {
    position: absolute;
    bottom: 0;
    font-size: 12px;
  }

  &.xl {
    width: 7vw;
  }

  &.l {
    width: 6vw;
  }

  &.m {
    width: 5vw;
  }

  &.s {
    width: 4vw;
  }

  &.xs {
    width: 3vw;
  }
}

.books-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 645px;
  padding: 100px 0 0;

  .shelf {
    display: flex;
  }

  .title {
    transform: rotate(90deg);
    width: max-content;
  }

  .shelf:first-child {
    .book {
      &:nth-child(2) {
        transform: rotate(-3deg);
        margin: 0 14px;
      }

      &:nth-child(3) {
        transform: rotate(-8deg);
        margin: 0 8px;
      }

      &:nth-child(4) {
        transform: rotate(-12deg);
        margin: 0 8px;
      }

      &:nth-child(5) {
        transform: rotate(-16deg);
        margin: 0 10px;
      }

      &:nth-child(6) {
        transform: rotate(-18deg);
        margin: 0 3px;
      }
    }
  }

  .shelf:nth-child(2) {
    .book {
      &:nth-child(1) {
        transform: rotate(-20deg);
        margin: 0 8px;
      }

      &:nth-child(2) {
        transform: rotate(-26deg);
        margin: 0 26px;
      }

      &:nth-child(3) {
        transform: rotate(-33deg);
        margin: 0 18px;
      }

      &:nth-child(4) {
        transform: rotate(-35deg);
        margin: 0 6px;
      }

      &:nth-child(5) {
        transform: rotate(-36deg);
        margin: 0 -24px 103px;
      }

      &:nth-child(6) {
        transform: rotate(3deg);
        margin-left: 155px;
      }
    }
  }

  @media only screen and (max-width: 1242px) {
    .shelf {
      height: 400px;

      &:first-child {
        border-bottom: 4px var(--secondary-color) solid;
        width: 100%;
      }

      &:nth-child(2) {
        margin-left: auto;

        .book {
          &:nth-child(1) {
            transform: rotate(27deg);
            margin: 0 8px;
          }

          &:nth-child(2) {
            transform: rotate(24deg);
            margin: 0 8px;
          }

          &:nth-child(3) {
            transform: rotate(20deg);
            margin: 0 10px;
          }

          &:nth-child(4) {
            transform: rotate(17deg);
            margin: 0;
          }

          &:nth-child(5) {
            transform: rotate(20deg);
            margin: 0 60px 0 10px;
          }

          &:nth-child(6) {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.cooker-section {
  display: flex;

  .cooker-container {
    width: 50%;

    .cooker-title {
      text-align: center;
    }

    .cooker {
      display: flex;
      flex-wrap: wrap;
      background: var(--primary-color);
      border: 4px solid var(--dark-grey);
    }

    .stove-container {
      width: 50%;
      padding: 20px;

      .stove {
        position: relative;
        height: 0;
        padding-top: 100%;
        border-radius: 100%;
        background: var(--secondary-color);
        color: var(--primary-color);
        border: 4px solid var(--dark-grey);

        .title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -100%);
        }
      }
    }

    .cooker-dials {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 60px;
      height: 30px;
      width: 80%;
      background: var(--primary-color);
      border-radius: 5px;
      margin: 15px auto 0;

      .dial {
        position: relative;
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background: var(--secondary-color);

        &::before {
          content: "";
          display: block;
          height: 10px;
          width: 4px;
          background: var(--dark-grey);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .pans {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .pan {
      position: relative;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      background: var(--primary-color);

      &::before {
        content: "";
        display: block;
        height: 100px;
        width: 20px;
        background: var(--primary-color);
        position: absolute;
        top: -90%;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:nth-child(2) {
        width: 150px;
        height: 150px;

        &::before {
          height: 150px;
          width: 30px;
        }
      }

      &:nth-child(3) {
        height: 90px;
        width: 90px;

        &::before {
          top: -100%;
          height: 150px;
          width: 10px;
        }
      }
    }
  }
}

// WORK
.work-title {
  .title {
    color: var(--secondary-color);
  }
}

.work-section {
  overflow: hidden;

  // .column {
  //   min-height: 50vh;
  // }
  // #i-recommend-img {
  //   margin-top: 10px;
  // }
  // #evening-angel-img {
  //   padding-top: 0;
  // }
  // .images {
  //   position: relative;
  //   display: inline;
  // }

  // img.active {
  //   position: absolute;
  //   opacity: 0;
  //   top: 15%;
  //   left: 11.4%;
  //   max-width: 55%;
  //   &:hover {
  //     opacity: 100;
  //   }
  // }
  // #i-recommend-gif {
  //   top: 20.5%;
  // }
  // #instagrub-gif {
  //   top: 16.5%;
  // }
  // #tap-tap-gif {
  //   top: 22%;
  //   left: 11.5%;
  // }
  // img.border {
  //   border-top: 20px solid #222;
  //   border-bottom: 20px solid #222;
  // }
  // .project-description {
  //   text-align: justify;
  // }
  // .project-links {
  //   margin-top: 20px;
  //   display: flex;
  //   justify-content: center;
  //   .button {
  //     margin: 0 10px;
  //     font-size: 13px;
  //     width: 130px;
  //     border: 1px solid rgb(60, 46, 61);
  //     transition: 0.3s ease;
  //     &:hover {
  //       transform: scale(1.03);
  //     }
  //   }
  // }

  .work-section {
    display: flex;
  }

  .carousel-container,
  .work-description {
    width: 50%;
    overflow: hidden;
    margin: 0 20px;
  }

  .carousel-container {
    background: var(--white);
    border: 4px solid var(--dark-grey);
  }

  .carousel {
    display: flex;
    width: max-content;
    overflow: hidden;
    transition: transform ease 1s;
    cursor: pointer;
    margin: 100px 0;

    .slide {
      display: flex;
      width: 50vw;
      padding: 0 20px;

      img {
        height: 200px;
      }
    }
  }

  .slide-selectors {
    display: flex;
    justify-content: space-evenly;

    .slide-selector.active {
      border-color: #ecc7c0;
      border-width: 2px;
    }
  }
}

//CONTACT
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  .contact-title {
    margin: 0 0 20px 0;
    color: var(--secondary-color);
  }

  .contact-links {
    display: flex;

    .button {
      display: block;
      margin: 0 10px;
      padding: 10px 30px;
      background-color: var(--secondary-color);
      border: 1px solid var(--tertiary-color);
      border-radius: 20px;
      transition: 0.3s ease;
      color: var(--tertiary-color);
      text-decoration: none;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
