@import "./animations";

:root {
  --primary-color: #28383e;
  --secondary-color: #fffaf6;
  --tertiary-color: #de6247;
  --dark-grey: #4a4a4a;
  --white: #fff;
}

@font-face {
  font-family: AlbraLight;
  src: url(../assets/AlbraLight.otf);
}

@font-face {
  font-family: AlbraRegular;
  src: url(../assets/AlbraRegular.otf);
}

// GLOBAL
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.2;
  color: var(--primary-color);
}

body {
  margin: 0;
  border: 10px solid var(--primary-color);
}

section {
  padding: 50px 10%;

  &:nth-child(odd) {
    background-color: var(--secondary-color);
  }

  &:nth-child(even) {
    background-color: var(--primary-color);
  }

  @media only screen and (max-width: 770px) {
    padding: 20px 5%;
  }
}

.title {
  font-family: "AlbraLight";
}

.light {
  color: var(--secondary-color);
}

.centered {
  display: block;
  text-align: center;
}

.wrap {
  display: flex;

  @media only screen and (max-width: 770px) {
    flex-wrap: wrap;

    & > * {
      width: 100% !important;
    }

    &.reverse {
      flex-direction: column-reverse;
    }
  }
}

.isSmall {
  display: none;

  @media only screen and (max-width: 770px) {
    display: block;
  }
}

.isLarge {
  @media only screen and (max-width: 770px) {
    display: none;
  }
}

// NAVBAR
.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: var(--secondary-color);
  padding: 0 30px;

  .nav-title {
    font-size: 32px;
    align-self: flex-start;
  }

  .nav-items {
    display: flex;
  }

  a {
    font-size: 32px;
    height: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 30px;

    &:hover {
      color: var(--tertiary-color);
    }
  }

  @media only screen and (max-width: 770px) {
    height: 80px;
    padding: 0 15px;

    a {
      font-size: 15px;
      margin: 0 10px;
    }
  }
}

// HOME
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  color: var(--primary-color);
  border-bottom: 10px var(--primary-color) solid;
  padding-top: 30px;

  .main .title {
    margin: 0;
    font-size: 7vw;
  }

  @media only screen and (max-width: 750px) {
    height: auto;
    padding-bottom: 60px;
  }
}

// ABOUT
.about-section {
  .bio {
    margin: 40px 0 50px;
    display: flex;
    align-items: center;
    font-size: 4vw;
    letter-spacing: 1px;
  }
}

//PICTURE
.picture-section {
  .pin {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 4px solid var(--dark-grey);
    margin: auto;
  }

  .profile-image {
    position: relative;
    display: flex;
    height: 300px;
    width: fit-content;
    margin: auto;

    img {
      align-self: flex-end;
      border-radius: 100%;
      border: 4px solid var(--dark-grey);
    }

    &::before {
      content: "";
      display: block;
      height: 160px;
      width: 4px;
      background: var(--dark-grey);
      position: absolute;
      transform: rotate(37deg);
      left: 65px;
      top: -32px;
    }

    &::after {
      content: "";
      display: block;
      height: 160px;
      width: 4px;
      background: var(--dark-grey);
      position: absolute;
      transform: rotate(-37deg);
      right: 65px;
      top: -32px;
    }
  }
}

//BOOK SECTION
.book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: 4px double var(--dark-grey);
  background: var(--secondary-color);
  min-width: 40px;

  .category {
    position: absolute;
    bottom: 0;
    font-size: 12px;
  }

  &.xl {
    width: 7vw;
  }

  &.l {
    width: 6vw;
  }

  &.m {
    width: 5vw;
  }

  &.s {
    width: 4vw;
  }

  &.xs {
    width: 3vw;
  }
}

.books-section {
  padding: 10px 0 0;

  > .title {
    font-size: 50px;
  }

  .shelves {
    display: flex;
    flex-wrap: wrap;
    min-height: 625px;
    overflow: hidden;
  }

  .shelf {
    display: flex;
  }

  .book .title {
    transform: rotate(90deg);
    width: max-content;
  }

  .shelf:first-child {
    .book {
      &:nth-child(2) {
        transform: rotate(-3deg);
        margin: 0 14px;
      }

      &:nth-child(3) {
        transform: rotate(-8deg);
        margin: 0 8px;
      }

      &:nth-child(4) {
        transform: rotate(-12deg);
        margin: 0 8px;
      }

      &:nth-child(5) {
        transform: rotate(-16deg);
        margin: 0 10px;
      }

      &:nth-child(6) {
        transform: rotate(-18deg);
        margin: 0 3px;
      }

      &:nth-child(7) {
        transform: rotate(-18deg);
        margin: 0 3px;
      }

      &:nth-child(8) {
        transform: rotate(-20deg);
        margin: 0 7px;
      }
    }
  }

  .shelf:nth-child(2) {
    .book {
      &:nth-child(1) {
        transform: rotate(-20deg);
        margin: 0 8px;
      }

      &:nth-child(2) {
        transform: rotate(-26deg);
        margin: 0 26px;
      }

      &:nth-child(3) {
        transform: rotate(-33deg);
        margin: 0 18px;
      }

      &:nth-child(4) {
        transform: rotate(-35deg);
        margin: 0 6px;
      }

      &:nth-child(5) {
        transform: rotate(-36deg);
        margin: 0 -24px 103px;
      }

      &:nth-child(6) {
        transform: rotate(3deg);
        margin-left: 182px;
      }

      &:nth-child(7) {
        margin-left: 15px;
      }
    }
  }

  @media only screen and (max-width: 1430px) {
    .shelf {
      height: 400px;

      &:first-child {
        border-bottom: 4px var(--secondary-color) solid;
        width: 100%;
      }

      &:nth-child(2) {
        margin-left: auto;

        .book {
          &:nth-child(1) {
            transform: rotate(27deg);
            margin: 0 8px;
          }

          &:nth-child(2) {
            transform: rotate(24deg);
            margin: 0 8px;
          }

          &:nth-child(3) {
            transform: rotate(20deg);
            margin: 0 10px;
          }

          &:nth-child(4) {
            transform: rotate(17deg);
            margin: 0 3px;
          }

          &:nth-child(5) {
            transform: rotate(20deg);
            margin: 0 58px 0 10px;
          }

          &:nth-child(6) {
            margin-left: 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 750px) {
    .shelves {
      min-height: 400px;

      .shelf {
        height: 200px;

        .book {
          min-width: 23px;
          border-width: 2px;

          .title {
            font-size: 3vw;
          }

          .category {
            display: none;
          }
        }

        &:first-child {
          .book {
            margin: 0 5px;
          }
        }

        &:nth-child(2) {
          .book {
            &:nth-child(1) {
              transform: rotate(10deg);
              margin: 0 8px;
            }

            &:nth-child(2) {
              transform: rotate(17deg);
              margin: 0 8px;
            }

            &:nth-child(5) {
              margin: 0 28px 0 10px;
            }
          }
        }
      }
    }
  }
}

.cooker-section {
  display: flex;

  .cooker-container {
    width: 50%;
    padding: 0 20px;

    .cooker {
      display: flex;
      flex-wrap: wrap;
      background: var(--primary-color);
      border: 4px double var(--dark-grey);

      @media only screen and (max-width: 770px) {
        border-width: 2px;
      }
    }

    .stove-container {
      width: 50%;
      padding: 30px;

      .stove {
        position: relative;
        height: 0;
        padding-top: 94%;
        border-radius: 100%;
        background: var(--secondary-color);
        color: var(--primary-color);
        border: 4px double var(--dark-grey);

        .title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -100%);
          font-size: 2vw;
        }
      }

      @media only screen and (max-width: 770px) {
        padding: 20px;

        .stove {
          padding-top: 92%;

          .title {
            font-size: 4vw;
          }
        }
      }
    }

    .cooker-dials {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 60px;
      height: 30px;
      width: 80%;
      background: var(--primary-color);
      border-radius: 5px;
      margin: 15px auto 0;

      .dial {
        position: relative;
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background: var(--secondary-color);

        &::before {
          content: "";
          display: block;
          height: 10px;
          width: 4px;
          background: var(--dark-grey);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .pans {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 68px;

    @media only screen and (max-width: 770px) {
      margin: 0 0 100px;
    }

    &::before {
      content: "";
      display: block;
      width: 80%;
      height: 20px;
      background: var(--tertiary-color);
      position: absolute;
      top: -4px;
      border-radius: 5px;
    }

    .handle {
      position: relative;
      height: 100px;
      width: 20px;
      background: var(--primary-color);
      border-radius: 5px;

      &::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background: var(--secondary-color);
        position: absolute;
        top: 5px;
        left: 50%;
        border-radius: 100%;
        transform: translateX(-50%);
      }

      .pan {
        display: flex;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background: var(--primary-color);
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);

        .rim {
          height: 70px;
          width: 70px;
          background: none;
          border: 1px var(--white) solid;
          margin: auto;
          border-radius: 100%;
        }
      }

      &:nth-child(2) {
        height: 150px;

        .pan {
          width: 120px;
          height: 120px;

          .rim {
            height: 90px;
            width: 90px;
          }
        }
      }

      &:nth-child(3) {
        height: 150px;
        width: 15px;

        .pan {
          height: 90px;
          width: 90px;

          .rim {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}

// WORK
.work-title .title {
  font-size: 50px;
}

.work-section {
  overflow: hidden;

  .project {
    &:not(:first-child) {
      margin: 100px 0;
    }

    .title {
      font-size: 30px;
    }

    @media only screen and (min-width: 751px) {
      &:nth-child(even) {
        .work-description {
          padding-left: 30px;
        }
      }

      &:nth-child(odd) .content {
        flex-direction: row-reverse;

        .work-description {
          padding-right: 30px;
        }
      }
    }

    @media only screen and (max-width: 770px) {
      .work-description {
        padding-top: 20px;
      }
    }

    &:nth-child(odd) .content .label {
      left: 20px;
    }

    &:nth-child(even) .content .label {
      right: 20px;
      left: auto;
    }
  }

  .content {
    display: flex;

    .label {
      position: absolute;
      bottom: -30px;
      left: 30px;
      display: flex;
      width: 100px;
      height: 100px;
      background-color: var(--primary-color);
      border-radius: 100%;
      border: 4px solid var(--dark-grey);

      h4 {
        color: var(--secondary-color);
        margin: auto;
        transform: rotate(-15deg);
      }

      @media only screen and (max-width: 750px) {
        width: 75px;
        height: 75px;
        border-width: 2px;
        left: 10px;

        h4 {
          font-size: 12px;
        }
      }

      &.freelance {
        background-color: var(--tertiary-color);
        border-color: var(--white);

        h4 {
          color: var(--white);
          transform: rotate(19deg);
        }
      }

      &.personal {
        background-color: var(--white);

        h4 {
          color: var(--primary-grey);
        }
      }
    }
  }

  .luckington,
  .spice-drawer {
    .content .label h4 {
      transform: rotate(-6deg);
    }
  }

  .carousel-column,
  .work-description {
    width: 40vw;
    position: relative;
    height: fit-content;
  }

  .work-description {
    .title {
      margin-top: 0;
    }

    p {
      font-size: 15px;
      line-height: 1.4;
    }

    a {
      color: var(--tertiary-color);
    }
  }

  .carousel-container {
    overflow: hidden;
    background: var(--white);
    border: 4px solid var(--dark-grey);
    height: 25vw;

    @media only screen and (max-width: 770px) {
      height: 50vw;
    }
  }

  .carousel {
    display: flex;
    align-items: center;
    width: max-content;
    overflow: hidden;
    transition: transform ease 1s;
    cursor: pointer;
    height: 90%;

    .slide {
      display: flex;
      justify-content: space-evenly;
      width: 38.5vw;
      height: 100%;
      padding: 15px;

      img {
        max-height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    @media only screen and (max-width: 750px) {
      height: 85%;
    }

    @media only screen and (max-width: 770px) {
      .slide {
        width: 83vw;
      }
    }
  }

  .slide-selectors {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 40%;

    .slide-selector {
      width: 8px;
      height: 8px;
      background: var(--dark-grey);
      border-radius: 100%;
      opacity: 0.5;
      cursor: pointer;
    }

    .slide-selector.active {
      opacity: 1;
    }

    @media only screen and (max-width: 750px) {
      padding: 10px 30%;
    }
  }
}

//CONTACT
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  .title {
    margin: 0 0 20px 0;
    font-size: 50px;
  }

  .contact-links {
    width: 100%;

    .link {
      margin: 10px 0;
      color: var(--tertiary-color);

      a {
        font-size: 18px;
        text-decoration: none;

        @media only screen and (max-width: 770px) {
          font-size: 14px;
        }
      }
    }
  }
}
