@import "./animations";

.is-centered {
  text-align: center;
}

.subtitles {
  position: relative;
  height: 150px;
  line-height: 150px;
}

.navbar {
  padding: 0 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #3c2e3d;
  a {
    height: 100%;
    color: #fff;
    &:hover {
      color: #ecc7c0;
      border-bottom: 1px solid #ecc7c0;
      background-color: #3c2e3d;
    }
  }
}

.home-section {
  background-color: #3c2e3d;
  height: 660px;
  padding-top: 200px;
  .main {
    height: 200px;
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    .title {
      color: #fff;
    }
    .subtitle {
      color: #fff;
      margin-bottom: 5px;
    }
  }
}
